@model ParadiseInn.Areas.Dashboard.ViewModel.AccomodationPackagesActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.Id > 0)
                {
                    <span> Edit Accomodation Package </span>
                }
                else
                {
                    <span> Create Accomodation Package </span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Accomodation Type</label>
                    <select class="form-control" name="AccomodationTypeId">
                        <option value="0">Select</option>
                        @if (Model.AccomodationTypes != null)
                        {
                            foreach (var item in Model.AccomodationTypes)
                            {
                                <option value="@item.Id" @(item.Id == Model.AccomodationTypeId ? "selected" : string.Empty)>@item.Name</option>
                            }
                        }

                    </select>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" value="@Model.Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>No of rooms</label>
                    <input class="form-control" name="NoOfRoom" value="@Model.NoOfRoom" placeholder="No of room">
                </div>
                <div class="form-group">
                    <label>Fee Per Night</label>
                    <input class="form-control" name="FeePerNight" value="@Model.FeePerNight" placeholder="Fee per night">
                </div>
                <div class="form-group">
                    <label>Pictures</label>
                    <input id="selectedPictures" class="form-control" name="Pictures" type="file" multiple>
                    <input type="hidden" name="PictureIds" id="PictureIds" value="" />
                </div>
                <div class="form-group" id="pictureArea">
                    @if (Model.AccomodationPackagePictures != null && Model.AccomodationPackagePictures.Count > 0)
                    {
                        foreach (var accomodationPackagePicture in Model.AccomodationPackagePictures)
                        {
                            <img src="/Images/site/@accomodationPackagePicture.Picture.URL" class="img-fluid imgdesign" onclick="removeThisImgTemplate(this)" data-id="@accomodationPackagePicture.PictureId" />
                        }
                    }
                </div>
            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>

            @if (Model.Id > 0)
            {
                <button id="actionBtn" type="button" class="btn btn-primary"><i class="fas fa-edit mr-1"></i>Update</button>

            }
            else
            {
                <button id="actionBtn" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save</button>
            }

        </div>
    </div>
}

<div id="imageTemplate">
    <img src="" class="img-fluid" style="margin-bottom:5px;" onclick="removeThisImgTemplate(this)"/>
</div>

<script>

        $("#actionBtn").click(function () {
            debugger;
            var PictureIds = [];

            $("#pictureArea img").each(function () {
                debugger;
                var picId = $(this).attr("data-id");

                PictureIds.push(picId);
            });

            $("#PictureIds").val(PictureIds.join());

             $.ajax({
                 url: '@Url.Action("Action", "AccomodationPackages")',
                 type: 'post',
                 data: $("#actionForm").serialize()
             })
             .done(function (response) {
                 if (response.Success) {
                     location.reload();
                 }
                 else {
                     $(".errorDiv").html(response.Message);
                 }
             });

       });


    $("#selectedPictures").change(function () {
        debugger;
        var pictures = this.files;
        var picdata = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picdata.append("Picture", pictures[i] );
        }

         $.ajax({
                 url: '@Url.Action("UploadPictures", "Dashboard")',
                 type: 'POST',
                 data: picdata,
                 processData: false,
                 contentType: false
         })
         .done(function (response) {

             for (var i = 0; i < response.length; i++) {

                 var picture = response[i];

                 var $imgHtml = $("#imageTemplate").clone();

                 $imgHtml.find("img").attr("src", "/Images/site/" + picture.URL);
                 $imgHtml.find("img").attr("data-id", picture.Id);
                 

                 $("#pictureArea").append($imgHtml.html());
                 $(".imgdesign").css("height", "300px");
                 $(".imgdesign").css("width", "430px");
             }
             
         }); 
    });

    function removeThisImgTemplate(elem) {
        $(elem).remove();
    }

</script>


