@using ParadiseInn.Entities
@model ParadiseInn.ViewModels.AccomodationPackageDetailsViewModel

@if (Model.AccomodationPackage != null)
{
    var thumbNailPicture = Model.AccomodationPackage.AccomodationPackagePictures != null && Model.AccomodationPackage.AccomodationPackagePictures.Count > 0 ? Model.AccomodationPackage.AccomodationPackagePictures.FirstOrDefault() : new AccomodationPackagePicture();

    var thumbNailUrl = thumbNailPicture.Picture != null ? thumbNailPicture.Picture.URL : "default.png";

    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/Images/site/@thumbNailUrl);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner slider-text-inner2 text-center">
                                    <h2>@Model.AccomodationPackage.AccomodationType.Name</h2>
                                    <h1>@Model.AccomodationPackage.Name</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="colorlib-amenities">
        <div class="container">
            <div class="row">
                <div class="amenities-flex">
                    <div class="desc animate-box">
                        <p class="price">
                            <span class="currency">&#2547</span>
                            <span class="price-room">@Model.AccomodationPackage.FeePerNight</span>
                            <span class="per">/ per night</span>
                        </p>
                        <strong>
                            No Of Rooms: <span>@Model.AccomodationPackage.NoOfRoom</span>
                        </strong>
                    </div>

                    @if (Model.AccomodationPackage.AccomodationPackagePictures != null && Model.AccomodationPackage.AccomodationPackagePictures.Count > 0)
                    {
                        foreach (var accomodationPackagePicture in Model.AccomodationPackage.AccomodationPackagePictures)
                        {
                            var imgURL = accomodationPackagePicture.Picture != null ? accomodationPackagePicture.Picture.URL : "default.png";

                            <div class="amenities-img animate-box fadeInUp animated-fast" style="height:400px;  background-image: url(/Images/site/@imgURL);">
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
    </div>


    <div id="colorlib-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <h3>Confirm Booking</h3>
                </div>
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <h3>Get In Touch</h3>
                    <form action="#" id="formData">
                        <input type="hidden" name="AccomodationPackageId" value="@Model.AccomodationPackage.Id" />
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="FromDate">Check In Date</label>
                                <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="Check In Date" autocomplete="off">
                            </div>
                            <div class="col-md-6">
                                <label for="Duration">Duration of Stay Nights</label>
                                <select id="Duration" name="Duration" class="form-control">
                                    @for (int i = 1; i < 11; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="NoOfAdults">No Of Adults</label>
                                <input type="number" id="NoOfAdults" name="NoOfAdults" class="form-control"  value="1" min="1" max="10">
                            </div>
                            <div class="col-md-6">
                                <label for="NoOfChildrens">No Of Childrens</label>
                                <input type="number" id="NoOfChildrens" name="NoOfChildrens" class="form-control" value="0" min="0" max="10">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="Name">Guest Name</label>
                                <input type="text" id="Name" name="Name" class="form-control" placeholder="Guest Name">
                            </div>
                            <div class="col-md-6">
                                <label for="Email">Email</label>
                                <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="Notes">Notes</label>
                                <textarea name="Notes" id="Notes" cols="30" rows="10" class="form-control" placeholder="Add Notes"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input type="button" id="btnCheckAvailability" value="Check Availability" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

    <script>
        $("#FromDate").datepicker({
            format: 'mm/dd/yyyy',
            startDate: '+3d',
            autoclose: true
        });

        $("#btnCheckAvailability").click(function () {

            $.ajax({
                 url: '@Url.Action("CheckAvailablity", "Accomodation")',
                data: $("#formData").serialize(),
                type: 'post'
             })
             .done(function (response) {
                 if (response.Success) {
                     location.reload();
                 }
                 else {
                     $(".errorDiv").html(response.Message);
                 }
             });
        });
    </script>